PORT=3000
MONGODB_URI="mongodb+srvpName=Cluster0"
JWT_SECRET=
JWT_EXPIRES_IN=7d
ADMIN_EMAIL=su
ADMIN_PASSWORD=Adm
STRIPE_SECRET_KEY=sk_test_
STRIPE_WEBHOOK_SECRET= 
CLOUDINARY_CLOUD_NAME=t6
CLOUDINARY_API_KEY=96486
CLOUDINARY_API_SECRET=
BREVO_API_KEY=xkeysi
BREVO_SENDER_EMAIL=
BREVO_SENDER_NAME=